[run]
# Medir cobertura de ramas
# branch = True
# Incluir todo automáticamente
source = .

# Especifica archivos o directorios para excluir de la cobertura
omit =
    tests/*
    venv/*
    .venv/*

[html]
directory = reports/coverage

[xml]
output = reports/coverage/coverage.xml
